.example {
    overflow-wrap: break-word;
  }

.markdown > p{
  padding-bottom: 10px;
}

.markdown > blockquote{
  color: brown;
}

/* .dev_border{
  border:1px solid red
} */

.dev_container{
  position: relative;
  height: 700px; 
  width: 100vw;
}

.dev_landingImage{
  z-index: 0;
}

.dev_underline,.dev_underline:hover{
  transition: 2s ease-in-out ;
}
.dev_underline:hover{
  text-decoration: underline;
  transition: 2s ease-in-out;
}

.hover-underline-animation {
  display: inline-block;
  position: relative;

}

.hover-underline-animation:after {
  content: '';
  position: absolute;
  width: 100%;
  transform: scaleX(0);
  height: 2px;
  bottom: 0;
  left: 0;
  background-color: rgb(255, 255, 255);
  transform-origin: bottom right;
  transition: transform 0.5s ease-out;
}

.hover-underline-animation:hover:after {
  transform: scaleX(1);
  transform-origin: bottom left;
}

.dev_somelement {
  position: absolute;
  left: 0;
  right: 0;
  margin: 0 auto;
  }