@tailwind base;
@tailwind components;
@tailwind utilities;
@import "./burger.css";
@import "./intro.css";
@import "./develop.css";
@import "./about.css";
@import "./grid.css";
@import "./zasady.css";
@import "./uslugi.css";

html,
body {
  width: 100%;
  height: 100%;
  background: rgb(255, 255, 255);
 
}

.main{
  flex-grow: 1;
}
.bug, main, .footer{
  flex-shrink: 0;
}

#__next {  
  min-height: 100%;
  display: flex;
  flex-direction: column;
  align-items: stretch;
}

.header_fat,
.header_slim,
.header_init {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  height: 70px;

   /* If you want to change this parameter You should control Layout.tsx --- const height*/
}

.header_fat {
  animation: fat 0.5s linear;
}

.header_slim {
  height: 50px;
  animation: slim 0.5s linear;
  border-bottom: 2px solid rgb(91, 192, 238);
}

@keyframes slim {
  0% {
    height: 80px;
  }
  100% {
    height: 50px;
  }
}

@keyframes fat {
  0% {
    height: 50px;
  }
  100% {
    height: 70px;
  }
}



.myitems > * + * {
  margin-left: 2rem;
}

.link_color {
  color: #263271;
}

.link_active_color {
  color: #b18352;
}

@media screen and (min-width: 800px) {
  .activeOnMobile {
    display: none;
  }
  .mobile {
    display: none;
  }
}
@media screen and (max-width: 800px) {
  .header_fat,
  .header_slim,
  .header_init {
    position: absolute;
    height: 50px;
    top: 0;
    left: 0;
    right: 0;
  }
  .activeOnDesktop {
    display: none;
  }
  .header_slim {
    animation: none;
  }
  .header_fat {
    animation: none;
  }

  .mobile {
    position: absolute;
    top: 50px;
    left: 0;
    right: 0;
    margin-left: auto;
    margin-right: auto;
    transform: translateY(-130%);
    transition: all 1.2s ease 0s;
  }

  .mobile.active {
    transform: translateY(0);
    transition: all 1s ease 0s;
  }
}

.home-bg-img {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 700px;
  z-index: 1;
}
.home-bg-img img {
  width: 100%;
  height: 700px;
  object-fit: cover;
  object-position: 50% 20%;
}

.home-bg-content {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 700px;
  z-index: 2;
  color: rgb(255, 255, 255);
}
.home-bg-content-box {
  margin-top: 300px; 
  visibility: visible;
  animation: vision 1.2s ease-in;
  opacity: 1;
}
@keyframes vision {
  0% {
    margin-top: -100px;
    opacity: 0;
  }
  100% {
    margin-top: 300px;
    opacity: 1;
  }
}


